.rmd-hroSection{
    background-image: url(../../../assets/images/heroImages/banner.jpg);
    background-position: 24%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .phnfooter{
    font-weight: 600;
  }
  .mobSliding{
    width: 388px;
    position: absolute;
    bottom: -4px;
    right: 140px;
    overflow: hidden;
    z-index: 1;
  }
  .screen
  {
    position: absolute;
    left: 39px;
    width: 190px;
    right: 0;
    top: 20px;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
  }


  .rmd-content h1{
    line-height: 47px;
    color: #fff;
    font-weight: 700;
    font-size: 53px;
}
.sub-contents{
  margin-top: 20px;
}
.sub-contents h4{
  font-size: 27px;
  font-weight: 400;
  color: #fff;
}
.sub-contents p{
  max-width: 450px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 0;
  letter-spacing: .5px;
  line-height: 20px;
}
.rmd-dwnldBtns{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 5px 0 25px;
}
.appStore{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 7px 20px;
  width: 200px;
}
.appStore a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
  font-size: 12px;
  font-weight: 300;
}
.appStore a i{
  color: #fff;
  font-size: 31px;
}
.appStore a span{
  font-size: 19px;
}
.download-Btn{
  width: 200px;
  background-color: #000000;
  padding: 9px 30px;
  border-radius: 50px;
  text-align: center;
}
.download-Btn a{
  color: #fff;
  font-weight: 400;
  text-align: center;
}


@media(min-width:769px) and (max-width:999px){

  .mobSliding {
    width: 350px;
    position: absolute;
    bottom: -4px;
    right: 20px;
    overflow: hidden;
}
.mobileBg img {
    width: 330px;
    overflow: hidden;
}
.pay-frm {
    display: block;
    padding: 20px 10px;
    font-family: Aileron;
}
.send-btn button {
    width: 100%;
}
.amount h2 {
    text-align: center;
    color: var(--text-color);
    font-size: 33px;
    padding-top: 8px;
    font-weight: 700;
}
.personImg {
    position: absolute;
    right: 70px;
    bottom: 0;
}
.tab {
    font-size: 18px;
}
.rmd-country {
    display: flex;
    align-items: center;
    border-right: 1px solid #999;
    gap: 8px;
    padding: 13px 0 14px 5px;
    cursor: pointer;
}
.border-none{
    border-right: none;
  }
  .rmdCrncy img {
    width: 40px;
}
.custom-date-picker input[type="date"] {
    font-size: 15px;
    padding: 10px 15px 10px 0;
}
.rmdCrncy p {
    font-weight: 700;
    color: var(--text-color);
    font-size: 11px;
}
.listing p {
    font-weight: 300;
    font-size: 14px;
}
.get-app a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    gap: 10px;
    font-size: 11px;
    font-weight: 300;
  }
  .get-app a span{
    font-size: 14px;
  }
  .ftrSec{
    margin: 15px 0;
  }
  .col-flex{
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
}

@media(min-width:601px) and (max-width:768px){
    .rmd-content h1 {
        line-height: 40px;
        color: #fff;
        font-weight: 700;
        font-size: 43px;
    }

 
  .ptCntct {
      padding-right: 48px;
  }
  .hdrContainer.scrolled .toggle{
      top: 31px;
    }
  .toggle{
      display: block ;
      z-index: 222;
      margin-left: 24px;
      position: absolute;
      right: 30px;
      top: 46px;
    }

    .toggle span{
      display: block;
      width: 30px;
      height: 3px;
      background-color: #ffffff;
      margin: 6px 0;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .toggle.open span:nth-child(1){
      transform: translate(0px, 11px) rotate(45deg);
      background-color: #000000;
    }
    .toggle.open span:nth-child(3){
      transform: translate(0px, -7px) rotate(-45deg);
      background-color: #000000;
    }
    .toggle.open span:nth-child(2){
      width: 0;
    }
    
  .mobSliding {
      width: 287px;
      position: absolute;
      bottom: -4px;
      right: 0;
      overflow: hidden;
      z-index: 1;
  }
  .screen {
      position: absolute;
      left: 29px;
      width: 140px;
      right: 0;
      top: 10px;
      border-radius: 20px;
      overflow: hidden;
      z-index: -1;
  }
  .rmd-content{
      margin-top: 30px;
  }
  .pymnt-details{
      margin-bottom: 15px;
  }
  .dwnldBtns {
      padding-top: 19px;
  }
  .col-flex{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cntctSec{
      padding-bottom: 30px;
    }
    .tab{
      font-size: 17px;
    }
    .rmd-country {
      padding: 10px 0 10px 20px;
  }
  .listing p {
      font-size: 12px;
  }
  .tabList-hover {
      width: 100%;
      display: none;
      position: absolute;
      background-color: #ffe15a;
      padding: 10px 6px;
      z-index: 2;
      top: 100%;
      left: 0;
  }
  .payment {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 0 8px 0px;
      border-bottom: 1px solid #000;
  }
  .send-btn button {
      width: 100%;
  }
  .amount h2 {
      font-size: 26px;
  }
  .pay-frm {
      display: block;
      padding: 9px;
      font-family: Aileron;
  }
  .rmdCrncy img {
      width: 37px;
  }
  .rmdCrncy p {
      font-weight: 700;
      color: var(--text-color);
      font-size: 11px;
  }
  .custom-date-picker input[type="date"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 5px;
      padding: 10px 21px 10px 0;
      font-size: 15px;
      color: var(--text-color);
      font-weight: 700;
      background-color: white;
      cursor: pointer;
      outline: none;
      border: none;
  }

  /*ABOUT PAGE*/
  .col-4{
      width: 50%;
  }
  /*END*/
}
@media(max-width:600px){
  .call-icon img {
      display: none;
  }


 
  .ptCntct {
      padding-right: 48px;
  }
  .hdrContainer.scrolled .toggle{
      top: 31px;
    }
  .toggle{
      display: block ;
      z-index: 222;
      margin-left: 24px;
      position: absolute;
      right: 30px;
      top: 46px;
    }

    .toggle span{
      display: block;
      width: 30px;
      height: 3px;
      background-color: #ffffff;
      margin: 6px 0;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .toggle.open span:nth-child(1){
      transform: translate(0px, 11px) rotate(45deg);
      background-color: #000000;
    }
    .toggle.open span:nth-child(3){
      transform: translate(0px, -7px) rotate(-45deg);
      background-color: #000000;
    }
    .toggle.open span:nth-child(2){
      width: 0;
    }
  .rmd-hroSection {
      background-image: url(../../../assets/images/heroImages/banner.jpg);
      background-position: 39%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      min-height: 834px;
      position: relative;
      display: flex
  ;
      align-items: start;
  }
  .rmd-content {
      margin-top: 0;
      padding-top: 143px;
  }
  .mobSliding {
      width: 231px;
      position: absolute;
      bottom: -14px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 21%);
      /* overflow: hidden; */
      z-index: 1;
  }
  .screen {
      position: absolute;
      left: 23px;
      width: 112px;
      right: 0;
      top: 10px;
      border-radius: 20px;
      overflow: hidden;
      z-index: -1;
  }
  .rmd-content h1 {
      line-height: 41px;
      color: #fff;
      font-weight: 700;
      font-size: 46px;
  }
  .sub-contents {
      margin-top: 15px;
  }
  .sub-contents h4 {
      font-size: 25px;
      font-weight: 400;
      color: #fff;
  }
  .feature-div h2 {
      font-weight: 100;
      font-size: 36px;
  }
  .futurePay h3 {
      font-weight: 100;
      font-size: 36px;
      max-width: 360px;
  }
  .dwnldBtns {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-top: 17px;
      padding-bottom: 30px;
  }
  .get-app a span {
      font-size: 15px;
  }
  .get-app {
      border: 1px solid #000000;
      border-radius: 5px;
      padding: 7px 12px;
      width: 200px;
  }
  .rmd-introduce {
      background-color: #067e6f;
      padding: 0px 0;
      position: relative;
      height: 600px;
  }
  .personImg {
      position: absolute;
      left: 20px;
      bottom: 0;
  }
  .personImg img {
      width: 248px;
  }
  .rmd-countries .head h2 {
      font-weight: 100;
      font-size: 36px;
  }
  .rmd-serviceTxt h2 {
      font-weight: 100;
      font-size: 36px;
  }
  .col-flex{
      flex-wrap: wrap;
      justify-content: left;
    }
  
    .ftrSec{
      width: 100%;
     padding-bottom: 30px;
      
    }
    .cntctSec {
      max-width: 100%;
  }
    .countryWeb{
      display: none;
    }
    .countryLst-mob{
      display: block;
    }
    
    button {
      background-color: transparent;
      padding: 10px;
      cursor: pointer;
      /* margin: 5px 0; */
      width: 100%; /* Optional for styling */
      text-align: center;
      border: 1px solid #999;
      font-family: var(--aileron);
      font-weight: 700;
      font-size: 18px;
    }
    
    button.active {
      background-color: #067e6f; /* Example active color */
      color: white;
    }
    
    .subList {
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      display: none; /* Hidden by default */
    }
  
  
    .rmd-country {
      display: flex;
      align-items: center;
      border-right: none;
      gap: 8px;
      padding: 14px 20px;
      cursor: pointer;
      border: 1px solid #9999;
  }
  
  .listing{
      width: 100%;
      cursor: pointer;
      position: relative;
     
    }
    .listing p{
      font-weight: 300;
      font-size: 17px;
    }
  .listing img{
      width: 15px;
    }
    .send-btn button {
      width: 100%;
  }
  .footer-container {
      background-color: #282828;
      padding: 80px 50px;
      color: #fff;
  }
}


@media(min-width:320px) and (max-width:500px){
  .toggle {
      display: block;
      z-index: 222;
      margin-left: 24px;
      position: absolute;
      right: 30px;
      top: 39px;
  }
  .rmd-serviceTxt h2,.rmd-countries .head h2, .feature-div h2 {
      font-weight: 100;
      font-size: 26px;
  } 
  .futurePay h3{
      font-size: 34px;
  }
  .rmd-countries .head h4 ,.feature-div h4,.rmd-serviceTxt h4 {
      font-size: 20px;
  }
  .get-app {
      border: 1px solid #000000;
      border-radius: 5px;
      padding: 7px 8px;
      width: 200px;
  }
  .logo img {
      width: 99px;
  }
  .pay-frm {
      display: block;
      padding: 10px;
      font-family: Aileron;
  }
  .rmdCrncy img {
      width: 32px;
  }
  .button {
      background-color: #fff;
      padding: 4px 16px;
      border-radius: 50px;
  }
  .button a {
      color: var(--text-color);
      font-weight: 700;
      font-size: 12px;
  }
  .call-icon img {
      width: 18px;
  }
  .rmd-hroSection {
      background-image: url(../../../assets/images/heroImages/banner.jpg);
      background-position: 39%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      min-height: 891px;
      position: relative;
      display: flex
  ;
      align-items: start;
  }
  .rmd-content {
      margin-top: 0;
      padding-top: 132px;
  }
  .mobSliding {
      width: 231px;
      position: absolute;
      bottom: -14px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 26%);
      /* overflow: hidden; */
      z-index: 1;
  }
  .rmd-content h1 {
      line-height: 36px;

      font-size: 38px;
  }
  .sub-contents h4 {
      font-size: 22px;
  }
  .sub-contents p {
      max-width: 100%;
      font-size: 13px;
      line-height: 20px;
  }
  .rmd-dwnldBtns {
      display: block;
      margin: 5px 0 25px;
  }
  .appStore {
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 7px 16px;
      width: 250px;
      margin: 10px 0;
  }
  .amount h2 {
      text-align: center;
      color: var(--text-color);
      font-size: 34px;
      padding-top: 8px;
      font-weight: 700;
  }
  .rmdCrncy img {
      width: 40px;
  }
  .rmdCrncy p {
      font-weight: 700;
      color: var(--text-color);
      font-size: 11px;
  }
  .custom-date-picker input[type="date"] {
      padding: 10px 29px 10px 0;
      font-size: 16px;
    
  }
  .rmd-slider h4 {
      color: #007f5f;
      font-size: 20px;
      margin: 10px 0;
      font-weight: 700;
  }
  .rmd-slider .icon {
      height: 56px;
      margin-bottom: 30px;
  }
  .rmd-slider p {
      color: #555;
      font-size: 13px;
      line-height: 1.5;
  }
  .rmd-slider .icon img {
      width: 65px;
      height: auto;
      margin: auto;
  }
  .prev-btn {
      left: 0;
  }
  .next-btn {
      right: 0;
  }
  .prev-btn img, .next-btn img {
      width: 29px;
  }
  .get-app a {
      font-size: 10px;
  }
  .get-app a span {
      font-size: 14px;
  }
  
}

@media(max-width:320px){
  .logo img {
      width: 92px;
  }
 

  .button {
      background-color: #fff;
      padding: 4px 11px;
      border-radius: 50px;
  }
  .rmd-hroSection {
      background-image: url(../../../assets/images/heroImages/banner.jpg);
      background-position: 39%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      min-height: 919px;
      position: relative;
      display: flex
  ;
      align-items: start;
  }
  .mobSliding {
      width: 231px;
      position: absolute;
      bottom: -14px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 28%);
      z-index: 1;
  }
  .rmd-content h1 {
      line-height: 36px;
      font-size: 35px;
  }

  .rmd-introduce {
      height: 535px;
  }
  .rmd-slider .instant{
      margin-bottom: 0;
  }
  .rmd-slider h4 {
      color: #007f5f;
      font-size: 19px;
      margin: 5px 0;
      font-weight: 700;
  }
  .rmd-slider p {
      color: #555;
      font-size: 11px;
      line-height: 1.5;
  }
  .rmd-slider {
      height: 323px !important;
      padding: 22px 7px;
      margin: 0 10px;

  }
  .socailMedia {
      padding: 30px 10px;
      text-align: center;
  }
  .socailMedia p {
      font-size: 14px;
  }
 #locImg img{
  width: 30px;
 }
 #locImg1 img{
  width: 43px;
 }
}











body{
  position: relative;
}

/* POPUP */

.hm-Popupcntct {
  width: 100%;
  max-width: 1200px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  visibility: hidden;
  padding-bottom: 40px;
  z-index: 22;
}

.hm-Popupcntct.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}



.closeBtn{
  float: right;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-family: var(--aileron);
  color: #fff;
  font-weight: 200;
}
.hmpopup-contain{
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 45px 50px;
}
.Pop-CntBnr{
  position: absolute;
  top: -4px;
  left: -145px;
}
.Pop-CntBnr img {
  transform: scaleY(-1);
  height: 100%;
}

.PopupFrm h2{
  font-size: 32px;
  padding-bottom: 10px;
  text-align: center;
  color: #294b37;
}
.popArrw{
  padding-top: 10px;
}
.popArrw img{
  width: 80px;
}
.CntTxt-popup{
  width: 50%;
  z-index: 22;

}
.PopupCnct-TXT{
  max-width: 320px;
}
.PopupCnct-TXT h2{
  color: #d9dc00;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 12px;
}
.PopupCnct-TXT  p{
  color: #ffff;
  font-weight: 200;
  letter-spacing: 1px;
}
.PopupCnct-TXT .subCnt{
  font-weight: 700 ;
  padding-bottom: 8px;
  font-size: 16px;
}

.PopupFrm {
 float: right;
  width: 350px;
}
.PopupFrm input{
width: 100%;
padding: 12px 30px;
margin-bottom: 10px;
border-radius: 8px;
outline: none;
border: 1px solid #c4c4c4;
font-weight: 400;
font-size: 16px;
}
.PopupFrm input::placeholder{
  font-weight: 200;
}
.pophmCheck label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  border-radius: 3px;

}
.pophmCheck label {
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.pophmNxtBtn{
  background-color: #067e6f;
  width: 170px;
  padding: 10px 30px;
  text-align: center;
  /* margin-top: 15px; */
  border-radius: 8px;
  cursor: pointer;
  margin: auto;
}
.pophmNxtBtn a{
  color: #fff;
  font-size: 18px;
}
.popup-manCnct{
  position: absolute;

  bottom: -4px;
  left: 50%;
  transform: translate(-50%);
}
.popup-manCnct img{
  width: 300px;
}



@media (min-width:1024px) and (max-width:1350px){


/* POPUP HOME */
.PopupFrm {
  width: 325px;
}

.popup-manCnct img {
width: 255px;
}
.Pop-CntBnr{
  position: absolute;
  top: -4px;
  left: -198px;
}
}

@media(max-width:999px){


/* HOME POPUP */
.closeBtn {
padding-bottom: 4px;

}
.hmpopup-contain {
display: block;
padding: 22px 20px;
}

.popArrw img {
width: 51px;
filter: invert(1); 
}
.CntTxt-popup{
width: 100%;
display: flex;
justify-content: end;
}

.PopupCnct-TXT {
max-width: 396px;
float: right;
}
.PopupCnct-TXT h2{
font-size: 25px;
color: #000000;
}
.PopupCnct-TXT  p{
color: #000000;
font-family: var(--aileron);
}
.PopupFrm {
width: 396px;
}
.popup-manCnct {
position: absolute;
bottom: -4px;
left: 0;
transform: none;
}
.popup-manCnct img {
width: 268px;
}
.Pop-CntBnr {
display: block;
position: absolute;
left: -499px;
transform: rotate(16deg);
bottom: -9px;
z-index: -1;
}
.PopupFrm h2{
color: #067e6f;
font-size: 28px;
}
.PopupFrm input {
padding: 9px 30px;
}
}

@media screen and (max-width: 768px) {
  .popcontainer{
    padding: 20px;
  }
  /* HOME POPUP */
  .PopupCnct-TXT{
    max-width: 100%;
  }
  .CntTxt-popup{
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .PopupCnct-TXT h2 {
    font-size: 26px;
}
  .Pop-CntBnr {
    display: none;
}
.PopupFrm{
  width: 100%;
}
.PopupFrm h2 {
  font-size: 28px;
}
.hmpopup-contain {
  padding: 34px 20px;
}
.popup-manCnct {
  display: none;
}
}
.MobCls{
  display: none;
}
@media (max-width: 600px) {
  .hmpopup-contain{
    height: 100vh;
    overflow-y: scroll;
  }
  .closeBtn{
    display: none;
  }
  .MobCls{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #007f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .MobCls .fa-xmark{
    color: #ffffff;
  }
  /* HOME popup */
.PopupCnct-TXT h2 {
  font-size: 23px;
}
.PopupFrm input {
  padding: 12px 11px;
}
}

@media(min-width:320px) and (max-width:425px){

  .hmpopup-contain {
    padding: 18px 20px;
}
.popArrw img {
  width: 48px;
}
.PopupFrm input {
  padding: 10px 11px;
  font-size: 13px;
}
.PopupCnct-TXT h2 {
  font-size: 18px;
  padding-bottom: 0;
}
.PopupCnct-TXT .subCnt {
  font-size: 14px;
}
.PopupCnct-TXT p {
  font-size: 14px;
}
.pophmNxtBtn {
  padding: 7px 30px;
}
.PopupFrm h2 {
  font-size: 25px;
}
.closeBtn {
  font-size: 14px;
  font-weight: 400;
}

}