.custHdImg{

    right: 190px;
    bottom: 1px;
    line-height: 0;
}

.custHdImg img{
    width: 470px;
}

@media screen and (max-width:1024px) {
    .custHdImg img {
        width: 340px;
    }
}
@media screen and (max-width:992px) {
    
    .custHdImg img{
        width: 360px;
    }
}
.whyGlbPayment{
    padding-top: 30px;
}